<div class="movies-show-wrapper">
    <div class="left">
        <%= image_tag (@movie[:poster]), draggable: false, class: "poster" %>
        <%= image_tag ("heart.svg"), draggable: false, class: "heart" %>
    </div>
    <div class="right">
        <div class="major">
            <h1>
                <%= @movie.title %>
            </h1>
            <% if @movie.plot != "N/A"%>
            <p>
                <%= @movie.plot %>
            </p>
            <% else %>
            <p>
                No Plot Available
            </p>
            <% end %>
        </div>
        <div class="minor">
            <p><strong>Actors -</strong></p>
            <div class="all-chips">
                <% @movie_actor_names.each do |actor| %>
                    <%= link_to actor, movies_path(actor: actor), class: "chip" %>
                <% end %>
            </div>
            <% if @movie.awards != "N/A" %>
            <p><strong>Awards:</strong> <%= @movie.awards %></p>
            <% end %>
            <p><strong>Generes -</strong></p>
            <div class="all-chips">
                <% @movie_actor_generes.each do |genere| %>
                    <%= link_to genere, movies_path(genre: genere), class: "chip" %>
                <% end %>
            </div>
            <p>
                <strong>IMDb Rating:</strong> <%= @movie.imdb_rating %>
            </p>
            <p>
                <strong>IMDb Votes:</strong> <%= @movie.imdb_votes %>
            </p>
            <p>
                <strong>Media Type:</strong> <%= @movie.media_type %>
            </p>
            <% if @movie.metascore != "N/A" %>
            <p>
                <strong>Metascore:</strong> <%= @movie.metascore %>
            </p>
            <% end %>
            <% if @movie.released != "N/A" %>
            <p>
                <strong>Released:</strong> <%= @movie.released %>
            </p>
            <% end %>
            <% if @movie.rated != "N/A" %>
            <p>
                <strong>Rated:</strong> <%= @movie.rated %>
            </p>
            <% end %>
            <% if @movie.runtime != "N/A" %>
            <p>
                <strong>Runtime:</strong> <%= @movie.runtime %>
            </p>
            <% end %>
            <% if !@movie.total_seasons.nil? %>
            <p>
                <strong>Total Seasons:</strong> <%= @movie.total_seasons %>
            </p>
            <% end %>
        </div>
    </div>
</div>